.flickrB
{
    display: inline-block;
    color:#0063dc;
    font-family: flickrfont;
    font-size: 40px;
}

.flickrE
{
    display: inline-block;
    color:#ff0084;
    font-family: flickrfont;
    margin-left:-4px;
    font-size: 40px;    
}

.form-search
{
   margin: 0.5em 0;
   margin-left: 45%;
   display: inline-block;
}

.form-search #query
{
   padding: 0.2em;
}

.form-search input
{
   color: #000000;
}

.copyright
{
    border-top: thin solid #5596E6;
    margin-top: 1.5rem;
    margin-bottom: 1.0rem;
    padding-top:1.0rem;
    display: block;
    text-align: right;
    width:90%;
    margin-left:5%;
    color: #41d6c3;
}

.copyright a
{
    color: #41d6c3;    
}