.thumbnails__list,
.thumbnails__pager
{
   margin: 0;
   padding: 0;
   list-style-type: none;
}

.thumbnails__list li
{
   display: inline-block;
   width: 15%;
   margin-top: 3%;
   margin-right: 1.7rem;
}

.thumbnails
{
   padding: 0% 0% 0% 5%;
}

.thumbnail
{
   width: 100%;
   padding: 0;
   border-radius: 10px;
}

.thumbnail:hover,
.thumbnail:focus
{
   border: 0.15rem solid #3d70b2;
   opacity: 0.7;
}

.thumbnails__pager
{
   text-align: right;
   margin: 1% 5%;
}

.thumbnails__pager li
{
   display: inline;
}

.thumbnails__pager a
{
   margin: 0 0.2em;
   color: #000;
   text-decoration: none;
}

.thumbnails__pager a.current,
.thumbnails__pager a:hover,
.thumbnails__pager a:focus
{
   color: #FCB720;
   text-decoration: underline;
}