.gallery
{
    position:relative;
    max-height:500px;
    border: 0.05rem solid #dfe3e6;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    background-color: #F0F3F9;
}

@media (max-width:1014px)
{
    .gallery .imgcontainer
    {
        max-height: 400px;
    }
}
@media (max-width:814px)
{
    .gallery .imgcontainer
    {
        max-height: 340px;
    }
}
@media (max-width:690px)
{
    .gallery .imgcontainer
    {
        max-height: 300px;
    }
}
@media (max-width:608px)
{
    .gallery .imgcontainer
    {
        max-height: 200px;
    }
}

.imgcontainer
{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 500px;
}

.gallery__arrow
{
    position: absolute;
    top: 50%;
    opacity: 0.8;
    cursor: pointer;
    width: 5%;
    height: 0;
    padding: 0% 0% 5% 0%;
    border-radius: 50%;
    overflow: hidden;
    background: #464646;
    box-shadow: 0 0 3px gray;
}

.gallery__arrow img
{
    display: block;
    width: 100%;
    padding: 15%;
    height: auto;
}

.gallery__arrow:hover,
.gallery__arrow:focus
{
    opacity: 1;
    outline: 0;
    outline-style: none;
    outline-width: 0;
    background: #262626;
}

.gallery__arrow--left
{
    left: 1%;
}
.gallery__arrow--left img
{
    margin-left: -3%;
}

.gallery__arrow--right
{
    right:1%;
    
}
.gallery__arrow--right img
{
    margin-right: -3%;
}